<app-navbar></app-navbar>

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7" *ngFor="let p of posts ; let i = index">
        
         <div class="post-preview">
             
                  <h2 class="post-title"> {{ p.titre }}</h2>
                  <h3 class="post-subtitle">{{ p.description }}</h3>
             
              <p class="post-meta">
                 Catégorie : 
                  <a >{{p.categorie}}</a>
                  Date publication : {{p.date | date}}
              </p> 
              <div> 
                  <button class="btn btn-info mx-5" [routerLink]="['addarticle',i]" type="button">Modifier</button>
                  <button class="btn btn-danger" (click)="supprimer(i)" type="button">Supprimer</button>
              </div>
          </div>
          <!-- Divider-->
          <hr class="my-4" />
      
    
          <!-- Pager-->
          
      </div>
  </div>
</div>
<app-footer></app-footer>
